.dish-card {
  width: 42vw;
  display: flex;
  margin: 12px;
}
.food-item-image {
  height: 150px;
  width: 255px;
  border-radius: 8px;
  margin-right: 10px;
}
.dish-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}
.item-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #334155;
  margin: 0px;
}
.price-container {
  display: flex;
  align-items: center;
  margin: 0px;
}
.dish-price {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #334155;
}
.dish-rating-container {
  display: flex;
  align-items: center;
  margin: 0px;
}
.dish-rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #0a1f44;
  margin: 0px;
  margin-left: 5px;
}
.counter-container {
  width: 58px;
  height: 32px;
  margin-top: 5px;
}
