.add-button {
  border: 2px solid #ffa412;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  color: #ffa412;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  width: 58px;
  height: 32px;
}
.buttons-container {
  display: flex;
  align-items: center;
}
.minus-button {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}
.amount-container {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #475569;
  margin-right: 5px;
}
.plus-button {
  height: 18px;
  width: 18px;
}
